<!-- <h2> Socials </h2> -->

<div class="social-links">
  <a href="https://www.linkedin.com/in/azlan-ali-khan-b66968270/" target="_blank" class="social-btn linkedin">
    <img src="https://knaboexruuzzhyzurvuq.supabase.co/storage/v1/object/public/portfolioimages/linkedin.png"
      alt="LinkedIn" class="social-icon">
    <!-- <span>LinkedIn</span> -->
  </a>

  <a href="https://github.com/slick-user" target="_blank" class="social-btn github">
    <img src="https://knaboexruuzzhyzurvuq.supabase.co/storage/v1/object/public/portfolioimages/github.png" alt="GitHub"
      class="social-icon">
    <!-- <span>GitHub</span> -->
  </a>

  <a href="https://cluster.itch.io/" target="_blank" class="social-btn itch">
    <img src="https://knaboexruuzzhyzurvuq.supabase.co/storage/v1/object/public/portfolioimages/itch.png" alt="Itch.io"
      class="social-icon">
    <!-- <span>Itch.io</span> -->
  </a>

  <a href="https://www.youtube.com/@tridra5714" target="_blank" class="social-btn youtube">
    <img src="https://knaboexruuzzhyzurvuq.supabase.co/storage/v1/object/public/portfolioimages/youtube.png"
      alt="YouTube" class="social-icon">
    <!-- <span>YouTube</span> -->
  </a>

  <a href="https://www.instagram.com/azlan_claims_this_account_now/" target="_blank" class="social-btn instagram">
    <img src="https://knaboexruuzzhyzurvuq.supabase.co/storage/v1/object/public/portfolioimages/instagram.png"
      alt="Instagram" class="social-icon">
    <!-- <span>Instagram</span> -->
  </a>
</div>
