<h1> Azlan Ali Khan - Slick User </h1>
<h2> Cyber Security Student, Hobbyist Game Developer </h2>

<div id="sections">

  <!-- Socials Section -->
  <div hx-get="partials/socials.html" hx-trigger="load" hx-indicator="#loader"></div>

  <!-- Education Section -->
  <div hx-get="partials/education.html" hx-trigger="load" hx-indicator="#loader"></div>

  <!-- Skills Section -->
  <div hx-get=" partials/skills.html" hx-trigger="load" hx-indicator="#loader"></div>

  <!-- Projects Section -->
  <div hx-get="partials/projects.html" hx-trigger="load" hx-indicator="#loader"></div>

  <!-- Certifications Section -->
  <div hx-get=" partials/certifications.html" hx-trigger="load" hx-indicator="#loader"></div>

  <!-- CTF & Competitions -->
  <div hx-get="partials/ctfs.html" hx-trigger="load" hx-indicator="#loader"></div>

  <!-- Profiles -->
  <div hx-get=" /partials/profiles.html" hx-trigger="load" hx-indicator="#loader"></div>

  <!-- CV -->
  <div class="cv-box">
    <h3> View my CV → </h3>
    <button class="cv-btn" hx-get="/partials/cv-modal.html" hx-target="body" hx-swap="beforeend" class="cv-button">
      Open CV</button>
  </div>
</div>